<div class="container-fluid">
  <div class="banner">
    <div class="topnav">
      <a href="#id_contact-section">Contact</a>
      <a href="#id_project-section">Projects</a>
      <a href="#id_about-section">About</a>
      <a href="#home">Home</a>
    </div>
      <h1>Paul Greetham</h1>
      <h5>
        <a href="" class="typewrite" data-period="2000" data-type='[ "Hello.", "Welcome to my portfolio website.", "I like designing software.", "I love to create things.", "Experience of Ruby on Rails, HTML, CSS & JavaScript.", "Currently learning Java, React.js & AWS...", "...and undertaking deeper learning of JavaScript and UX/UI design.",  "You can find my bio, projects and contact details below.", "I hope you enjoy visiting my website.", "Cheers."]'>
        <span class="wrap"></span>
        </a>
      </h5>
    </div>
    <div class="about-section" id="id_about-section">
          <div class="col-12. col-6" id="left_column">
            <div class="avatar"></div>
              <div class="button-cv">
                <a href="https://drive.google.com/file/d/1yqGpLJkCYHDWHhWWizRgmORgTv4W3J7D/view?usp=sharing" target="_blank"><h6>Click here to download CV / Resume</h6></a>
              </div>
              <div class="button-cl">
                <a href="https://drive.google.com/file/d/1iwU4gk9S8vHVnRKFrNp9DlJGiuE3QY-x/view?usp=sharing" target="_blank"><h6>Click here to download Cover Letter</h6></a>
              </div>
            </div>
          <div class="col-12. col-6" id="right_column">
            <h2>Bio</h2>
            <p>Having recently completed the Le Wagon Web Developer 10-week full-time Bootcamp in Amsterdam, I’m now looking for a full-stack developer role within the Netherlands. The full-stack role appeals to me for two reasons: 1) the breadth of the role; learning the skillset for both front and back-end is as exciting as it is daunting (I think both are needed when starting a new journey), and 2) combining functionality and creativity; this is something I have always done and can see clear similarities within the full-stack job function. I have worked with Ruby, Ruby on Rails, SQL, JSON, HTML, CSS, JavaScript, as well as OOP and MVC structures.<br><br>These topics have been covered extensively within the Le Wagon Bootcamp and I have also studied these subjects online through CodeCademy. However, I’m very aware that this is only the beginning and I am very much looking forward to learning more about these (and other) languages/methodologies in my future career.<br><br></p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="project-section" id="id_project-section">
      <h3>Projects</h3>
        <div class="centered">
          <section class="cards">
            <article class="card" id="naturescape">
              <img id="naturescape.png">
              <a href="https://naturescape-app.herokuapp.com/" target="_blank"><h1><b>NaturEscape</b></h1></a>
              <p>Hiking App for Outdoor Enthusiasts</p><br>
              <p>Ruby on Rails, HTML, Sass,<br>JavaScript, JSON + MapBox API</p>
              <a href="https://github.com/Njsca/naturescape" target="_blank"><p><b>&lt;GitHub &lt;/> Link></a></b>
            </article>
            </article>
            <article class="card" id="my_personal_profile">
              <img id="personal_profile.png">
              <a href="https://paul-greetham.herokuapp.com/" target="_blank"><h1><b>Paul Greetham</b></h1></a>
              <p>Personal Profile App</p><br>
              <p>Ruby on Rails, HTML, CSS <br>+ JavaScript</p>
              <a href="https://github.com/PaulGreetham/paul-greetham" target="_blank"><p><b>&lt;GitHub &lt;/> Link></a></b>
            </article>
            <article class="card" id="my_game_weather">
              <img id="my_game_weather.png">
              <h1><b>My Game Weather</b></h1>
              <p>Weather App for Sports Fans<br>(In Production)</p><br>
              <p>Ruby on Rails, HTML, CSS, JavaScript,<br>Rapid API, Bootstrap, AJAX, JSON</p>
              <p><b>&lt;GitHub &lt;/> Link TBC></a></b>
            </article>
            <article class="card" id="vinyin_yoga">
              <img id="vinyin_yoga.img">
                <h1><b>VinYin Yoga</b></h1>
                <p>Yoga App for Yoga Studio<br>(In Production)</p><br>Ruby on Rails, HTML, CSS, JavaScript
            </article>
            <article class="card" id="tom_whitehead">
              <img id="tom_whitehead.png">
                <h1><b>Tom Whitehead</b></h1>
                <p>Boat Repair App<br>(In Production)</p><br>Ruby on Rails, HTML, CSS
            </article>
            <article class="card" id="purple_movies">
              <img id="purple_movies.png">
                <h1><b>Purple Movies</b></h1>
                <p>Movie Reference App<br>(In Production)</p><br>Ruby on Rails, HTML, CSS, JavaScript, APIs, AJAX, JSON
            </article>
          </section>
        </div>
      </div>
        <div class="contact-section" id="id_contact-section">
          <h3>Contact</h3>
            <div class="contact-text">Thanks for visiting my portfolio page.<br><br>If you would like more information on any of the projects,<br>or would like to discuss any opportunities,<br>then plase either call or email me on the detials below:<br><br><br><br>t: +31683674176<br><br>e: <a href = "mailto: pgreetham@protonmail.com">pgreetham@protonmail.com</a><br><br><br><br>For more information, click on the links<br>to my LinkedIn, GitHub or Instagram profiles:</div>
              <ul class="social-menu">
                <li><a href="https://www.linkedin.com/in/paul-greetham/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/PaulGreetham" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.instagram.com/paulgreetham_/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              </ul>
        </div>
      </div>
    </div>
  </div>
</div>
