/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html {
  scroll-behavior: smooth;
}

 body {
  margin: 0;
  padding: 0;
}

* { color: black; text-decoration: none; }

.banner {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-color: white;
  scroll-behavior: auto;
}

h1 {
  font-family: 'Courier Prime', monospace;
  font-size: 12vh;
  padding: 0;
  margin: 0;
  color: black;
  padding-left: 8vh;
  padding-top: 52vh;
  font-weight: 100;
}

h5 {
  font-family: 'Courier Prime', monospace;
  font-size: 6vh;
  padding: 0;
  margin: 0;
  color: black;
  padding-left: 8vh;
  font-weight: 100;
}


/* Add a black background color to the top navigation */
.topnav {
  font-family: 'Courier Prime', monospace;
  overflow: hidden;
  color: white;
  background-color: white;
  width: 100%;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}


/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 2vh 2vh;
  text-decoration: none;
  font-size: 3vh;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(128, 128, 128);
  color: white;
  border-radius: 5px;
  opacity: 0.8;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: lightgray;
  color: black;
}

/* <<<< ABOUT SECTION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.about-section {
  padding-left: 8vh;
  padding-right: 8vh;
}

.col-xs-6 {
  display: flex;
  width: 50%
}

h3 {
  text-align: center;
  font-family: 'Courier Prime', monospace;
  padding-left: 8vh;
  padding-top: 9vh;
  font-size: 8vh;
  font-weight: 100;
}

.avatar {
  background-image: url("ProfileImage.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(200, 200, 200);
  border: 2px solid black;
  opacity: 0.9;
  height: 20em;
  width: 30em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  margin-bottom: 2vh;
}

.avatar:hover {
  box-shadow: 0.5em 0.5em rgb(128, 128, 128);
  background-color: rgb(250, 250, 250);
  transition: 0.8s;
  opacity: 1;
}


.button-cv {
  font-size: 1em;
  height: 3em;
  width: 30em;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 0.5em;
  cursor: pointer;
  font-family: 'Courier Prime', monospace;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  transition: 0.8s;
  box-shadow: 2px 2px 5px rgb(200, 200, 200);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

.button-cv:hover {
  box-shadow: 0.5em 0.5em rgb(128, 128, 128);
  background-color: rgb(250, 250, 250);
  transition: 0.8s;
}

.button-cl {
  font-size: 1em;
  height: 3em;
  width: 30em;
  font-family: 'Courier Prime', monospace;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 0.5em;
  cursor: pointer;
  display: inline-block;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  transition: 0.8s;
  box-shadow: 2px 2px 5px rgb(200, 200, 200);
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h6 {
  font-family: 'Courier Prime', monospace;
  text-align: center;
  margin-top: 1.5em;
}

.button-cl:hover {
  box-shadow: 0.5em 0.5em rgb(128, 128, 128);
  background-color: rgb(250, 250, 250);
  transition: 0.8s;
}

h4 {
  font-family: 'Courier Prime', monospace;
  font-size: 6vh;
  padding: 0;
  margin: 0;
  color: black;
  padding-left: 8vh;
  font-weight: 100;
  height: 6vh;
}

p {
  font-family: 'Courier Prime', monospace;
  font-size: 1em;
  padding: 5vh;
  color: black;
  text-align: justify;
  text-overflow: clip;
  overflow: hidden;
}

/* <<<< PROJECT SECTION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.project-section {
  height: 150vh;
  width: 100vw;
}

.project-section h3 {
  font-family: 'Courier Prime', monospace;
  padding-left: 8vh;
  padding-top: 18vh;
  font-size: 8vh;
  font-weight: 100;
}

.cards {
  /* Add shadows to create the "card" effect */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: 0.3s linear;
  font-family: 'Courier Prime', monospace;
  margin: 8vh;
}

.card {
  flex: 0 1 calc(32% - 1em);
  box-sizing: border-box;
  margin: 1rem .25em;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(200, 200, 200);
  height: 55vh;
  text-align: center;
  border: 2px solid black;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 10px 10px rgb(128, 128, 128);
  transition: 0.8s;
  opacity: 0.8;
}

@media screen and (min-width: 40em) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 1 calc(32% - 1em);
}
}

@media screen and (min-width: 60em) {
  .card {
    flex: 0 1 calc(32% - 1em);
}
}

/* <<<<< My Game Weather Card >>>>> */

#my_game_weather {
  background-image: url("Screenshot 2022-09-23 at 13.14.19.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#my_game_weather h1 {
  background-color: white;
  font-size: 3vh;
  padding: 0.5vh;
}

#my_game_weather p {
  background-color: white;
  font-size: 2vh;
  padding: 0.5vh;
  text-align: center;
}

.overview {
  background-color: rgb(108, 39, 119);
  color: white;
  padding: 2rem;
  position: absolute;
  max-height: 100%;
  overflow: auto;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  transform: translateY(101%);
  transition: transform 0.7s ease-in;
}

.card:hover .overview {
  transform: translateY(0);
}


/* <<<<< VinYin Yoga Card >>>>> */

#vinyin_yoga {
  background-image: url("af37c4d3-ef46-416b-a9ba-c559402e2997.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#vinyin_yoga h1 {
  background-color: white;
  font-size: 3vh;
  padding: 0.5vh;
}

#vinyin_yoga p {
  background-color: white;
  font-size: 2vh;
  padding: 0.5vh;
  text-align: center;
}


/* <<<<< naturEscape Card >>>>> */

#naturescape {
  background-image: url("Screenshot 2022-09-23 at 12.25.27.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

}

#naturescape h1 {
  background-color: white;
  font-size: 3vh;
  padding: 0.5vh;
}

#naturescape p {
  background-color: white;
  font-size: 2vh;
  padding: 0.5vh;
  text-align: center;
}


/* <<<<< Tom Whitehead Card >>>>> */

#tom_whitehead {
  background-image: url("Screenshot 2022-09-20 at 18.22.44.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#tom_whitehead h1 {
  background-color: white;
  font-size: 3vh;
  padding: 0.5vh;
}

#tom_whitehead p {
  background-color: white;
  font-size: 2vh;
  padding: 0.5vh;
  text-align: center;
}


/* <<<<< My Personal Profile Card >>>>> */

#my_personal_profile {
  background-image: url("Screenshot 2022-09-23 at 12.23.45.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#my_personal_profile h1 {
  background-color: white;
  font-size: 3vh;
  padding: 0.5vh;
}

#my_personal_profile p {
  background-color: white;
  font-size: 2vh;
  padding: 0.5vh;
  text-align: center;
}


/* <<<<< Development In Progress Card >>>>> */

#development_in_progress {
  background-image: url("Screenshot 2022-09-23 at 13.13.56.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#development_in_progress h1 {
  background-color: white;
  font-size: 3vh;
  padding: 0.5vh;
}

#development_in_progress p {
  background-color: white;
  font-size: 2vh;
  padding: 0.5vh;
  text-align: center;
}



/* <<<< CONTACT SECTION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.contact-section {
  height: 100vh;
  width: 100vw;
}

.contact-section h3 {
  font-family: 'Courier Prime', monospace;
  font-size: 8vh;
  font-weight: 100;
  padding-right: 8vh;
  padding-top: 8vh;
  text-align: center;
}

.social-menu {
  display: flex;
	list-style-type: none;
  flex-flow: row;
  column-gap: 3vh;
  justify-content: center;
  padding-top: 4vh;
}

.social-menu i {
	color: #fff;
	width: 15vh;
	height: 15vh;
	border-radius: 50%;
	font-size: 5vh;
	margin-right: 10px;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
}

.social-menu i:before {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
        font-weight: 400;
}

.fa-linkedin {
	background:#007bb6
}

.fa-instagram {
	background: rgb(255, 66, 66)

}

.fa-github {
	background: black
}

.social-menu i:hover {
	opacity: 0.9;
	border-radius: 10px;
  transition: 0.4s;
}

.contact-text {
  font-family: 'Courier Prime', monospace;
  font-size: 2.5vh;
  text-align: center;
}
