/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html {
  scroll-behavior: smooth;
}

 body {
  margin: 0;
  padding: 0;
}

* { color: black; text-decoration: none; }

.banner {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-color: white;
  scroll-behavior: auto;
}

h1 {
  font-family: 'Courier Prime', monospace;
  font-size: 6em;
  padding: 0;
  margin: 0;
  color: black;
  padding-left: 8vh;
  padding-top: 52vh;
  font-weight: 100;
}

@media(max-width: 768px) {
  h1 {
    font-size: 4em;
  }
}

@media(max-width: 576px) {
  h1 {
    font-size: 4em;
  }
}


h5 {
  font-family: 'Courier Prime', monospace;
  font-size: 2.5em;
  padding: 0;
  margin: 0;
  color: black;
  padding-left: 8vh;
  font-weight: 100;
}

@media(max-width: 768px) {
  h5 {
    font-size: 2em;
  }
}

@media(max-width: 576px) {
  h5 {
    font-size: 2em;
  }
}


/* Add a black background color to the top navigation */
.topnav {
  font-family: 'Courier Prime', monospace;
  overflow: hidden;
  color: white;
  background-color: white;
  width: 100%;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}


/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 2vh 2vh;
  text-decoration: none;
  font-size: 1.5em;
}

@media(max-width: 768px) {
  .topnav a {
    font-size: 1em;
  }
}

@media(max-width: 576px) {
  .topnav a {
    font-size: 1em;
  }
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(128, 128, 128);
  color: white;
  border-radius: 5px;
  opacity: 0.8;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: lightgray;
  color: black;
}

/* <<<< ABOUT SECTION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

#left_column {
  display: grid;
}

#right_column {
  display: grid;
}

.col-xs-6 {
  display: grid;
  width: 45%
}

h3 {
  text-align: center;
  font-family: 'Courier Prime', monospace;
  padding-top: 9vh;
  font-size: 8vh;
  font-weight: 100;
}

.avatar {
  background-image: url("ProfileImage.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(200, 200, 200);
  border: 2px solid black;
  opacity: 0.9;
  height: 20em;
  width: 30em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  margin-bottom: 2vh;
}

.avatar:hover {
  box-shadow: 0.5em 0.5em rgb(128, 128, 128);
  background-color: rgb(250, 250, 250);
  transition: 0.8s;
  opacity: 1;
}


@media(max-width: 768px) {
  .topnav a {
    font-size: 1em;
  }
}

@media(max-width: 480px) {
  .avatar {
    width: 20em;
    height: 13.5em;
  }
}


.button-cv {
  font-size: 1em;
  height: 3em;
  width: 30em;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 0.5em;
  cursor: pointer;
  font-family: 'Courier Prime', monospace;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  transition: 0.8s;
  box-shadow: 2px 2px 5px rgb(200, 200, 200);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

.button-cv:hover {
  box-shadow: 0.5em 0.5em rgb(128, 128, 128);
  background-color: rgb(250, 250, 250);
  transition: 0.8s;
}

.button-cl {
  font-size: 1em;
  height: 3em;
  width: 30em;
  font-family: 'Courier Prime', monospace;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 0.5em;
  cursor: pointer;
  display: inline-block;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  transition: 0.8s;
  box-shadow: 2px 2px 5px rgb(200, 200, 200);
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: 'Courier Prime', monospace;
  text-align: left;
  font-size: 8vh;
  font-weight: 100;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
  padding: 0;
  padding-left: 5vh;
}

h6 {
  font-family: 'Courier Prime', monospace;
  text-align: center;
  margin-top: 1.5em;
}

.button-cl:hover {
  box-shadow: 0.5em 0.5em rgb(128, 128, 128);
  background-color: rgb(250, 250, 250);
  transition: 0.8s;
}

@media(max-width: 768px) {
  .button-cv {
    width: 20em;
  }

  .button-cl {
    width: 20em;
  }
}

@media(max-width: 480px) {
  .button-cv {
    width: 20em;
  }

  .button-cl {
    width: 20em;
  }

  h2 {
    text-align: center;
    padding-left: 0vh;
  }
}

h4 {
  font-family: 'Courier Prime', monospace;
  font-size: 6vh;
  padding: 0;
  margin: 0;
  color: black;
  padding-left: 8vh;
  font-weight: 100;
  height: 6vh;
}

p {
  font-family: 'Courier Prime', monospace;
  font-size: 1em;
  color: black;
  overflow: scroll;
  margin: 0;
  padding-right: 5vh;
  padding-left: 5vh;
}

@media(max-width: 768px) {
  .p {
    width: 20em;
  }
}

@media(max-width: 576px) {
  .p {
    width: 20em;
  }
}


@media(max-width: 992px) {
  .about-section {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .about-section {
    grid-template-columns: 1fr;
  }

  h2 {
    margin-top: 1em;
    font-size: 6vh;
  }
}

@media(max-width: 576px) {
  .about-section {
    grid-template-columns: 1fr;
  }

  h2 {
    margin-top: 1em;
    font-size: 6vh;
  }
}

ul {
  display: inline-flex;
}

/* <<<< PROJECT SECTION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.project-section {
  height: auto;
  width: 100%;
}

.project-section h3 {
  font-family: 'Courier Prime', monospace;
  padding-top: 18vh;
  font-size: 8vh;
  font-weight: 100;
}

@media(max-width: 768px) {
  .project-section h3 {
    font-size: 6vh;
    margin-top: 0;
    padding-top: 8vh;
    margin-bottom: 1vh;
  }
}

@media(max-width: 576px) {
  .project-section h3 {
    font-size: 6vh;
    margin-top: 0;
    padding-top: 8vh;
    margin-bottom: 1vh;
  }
}

.cards {
  /* Add shadows to create the "card" effect */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.75em;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: 0.3s linear;
  font-family: 'Courier Prime', monospace;
  margin: 8vh;
  overflow: hidden;
}

.card {
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(200, 200, 200);
  height: 55vh;
  text-align: center;
  border: 2px solid black;
  margin: 1rem .25em;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 10px 10px rgb(128, 128, 128);
  transition: 0.8s;
  opacity: 0.8;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* <<<<< My Game Weather Card >>>>> */

#my_game_weather {
  background-image: url("my_game_weather.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

}

#my_game_weather h1 {
  background-color: white;
  font-size: 3vh;
  padding: 0.5vh;
}

#my_game_weather p {
  background-color: white;
  font-size: 2vh;
  padding: 0.5vh;
  text-align: center;
}


/* <<<<< VinYin Yoga Card >>>>> */

#vinyin_yoga {
  background-image: url("af37c4d3-ef46-416b-a9ba-c559402e2997.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#vinyin_yoga h1 {
  background-color: white;
  font-size: 3vh;
  padding: 0.5vh;
}

#vinyin_yoga p {
  background-color: white;
  font-size: 2vh;
  padding: 0.5vh;
  text-align: center;
}


/* <<<<< naturEscape Card >>>>> */

#naturescape {
  background-image: url("naturescape.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#naturescape h1 {
  background-color: white;
  font-size: 3vh;
  padding: 0.5vh;
}

#naturescape p {
  background-color: white;
  font-size: 2vh;
  padding: 0.5vh;
  text-align: center;
}


/* <<<<< Tom Whitehead Card >>>>> */

#tom_whitehead {
  background-image: url("tom_whitehead.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#tom_whitehead h1 {
  background-color: white;
  font-size: 3vh;
  padding: 0.5vh;
}

#tom_whitehead p {
  background-color: white;
  font-size: 2vh;
  padding: 0.5vh;
  text-align: center;
}


/* <<<<< My Personal Profile Card >>>>> */

#my_personal_profile {
  background-image: url("personal_profile.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#my_personal_profile h1 {
  background-color: white;
  font-size: 3vh;
  padding: 0.5vh;
}

#my_personal_profile p {
  background-color: white;
  font-size: 2vh;
  padding: 0.5vh;
  text-align: center;
}


/* <<<<< Purple Movies Card >>>>> */

#purple_movies {
  background-image: url("purple_movies.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#purple_movies h1 {
  background-color: white;
  font-size: 3vh;
  padding: 0.5vh;
}

#purple_movies p {
  background-color: white;
  font-size: 2vh;
  padding: 0.5vh;
  text-align: center;
}



/* <<<< CONTACT SECTION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.contact-section {
  height: 100vh;
  width: 100%;
}

.contact-section h3 {
  font-family: 'Courier Prime', monospace;
  font-size: 8vh;
  font-weight: 100;
  padding-top: 8vh;
  text-align: center;
}

@media(max-width: 768px) {
  .contact-section h3 {
    font-size: 6vh;
  }
}

@media(max-width: 576px) {
  .contact-section h3 {
    font-size: 5vh;
  }
}

.social-menu {
  display: flex;
	list-style-type: none;
  flex-flow: row;
  column-gap: 3vh;
  justify-content: center;
  padding-top: 4vh;
  padding-left: 0;
}

.social-menu i {
	color: #fff;
	width: 15vh;
	height: 15vh;
	border-radius: 50%;
	font-size: 5vh;
	margin-right: 10px;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
}

.social-menu i:before {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
  font-weight: 400;
}

.fa-linkedin {
	background:#007bb6
}

.fa-instagram {
	background: rgb(255, 66, 66)

}

.fa-github {
	background: black
}

.social-menu i:hover {
	opacity: 0.9;
	border-radius: 10px;
  transition: 0.4s;
}

.contact-text {
  font-family: 'Courier Prime', monospace;
  font-size: 1.25em;
  padding-left: 5vh;
  padding-right: 5vh;
  text-align: center;
}


@media(max-width: 768px) {
  .contact-section h3 {
    font-size: 6vh;
  }

  .contact-text {
    font-size: 1em;
  }
}

@media(max-width: 576px) {
  .contact-section h3 {
    font-size: 6vh;
  }

  .contact-text {
    font-size: 1em;
  }

  .social-menu i {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    font-size: 3vh;
  }
}
